*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* border: 1px solid black; */
}

@font-face {
    font-family: 'mapleFonts';
    src: url('fonts/MaplestoryFont_TTF/Maplestory\ Light.ttf');
}

@font-face {
    font-family: 'pakaFonts';
    src: url('fonts/SDChildfundkorea_OTF_TTF/SDChildfundkorea.otf');
}

body{
    /* font-family: 'MapleStoryFont', sans-serif; */
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

ul{
    list-style: none;
}

header{
    display: flex;
    flex-direction: column;
}

.header-container{
    height: 210px;
    display: flex;
    align-items: center;
}

.header-container > div{
    display: flex;
    flex-direction: column;
}

.header-container-left{
    width: 20%;
    height: 100%;
}

.header-container-left img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.header-container-right{
    height: 100%;
}

.header-container-col{
    height: 100%;
    margin: 10px;
}

.header-container-right img{
    display: flex;
    width: 50px;
    object-fit:cover;
}

.header-address{
    height: 100%;
    justify-content: space-between;
    text-align: center;
    padding-top: 10px;
}

.header-address:last-child{
    text-align: left;
}

.header-address *{
    font-family: 'mapleFonts';
}


/* ------------------ 여기까지 헤더------------------------------- */
nav{
    padding: 5 10px;
    background-color: white;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
    margin-top: 10px;
}

.navbar > li{
    width: 20%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar > li > a{
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    font-family: 'pakaFonts';

    padding: 3px 10px;
    width: 100%;
    text-align: center;
}

/* 마우스가 a태그에 올라갔을 때 */
.navbar > li > a:hover{
    color: red;
}
/* -------------------여기까지 네브바--------------------------- */
main {
    padding: 20px;
    height: 600px;
}

main > h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'mapleFonts';
    color: #333;
}

.main-container {
    border: 2px solid #4CAF50; 
    margin: auto;
    margin-top: 20px;
    width: 50%;
    max-width: 600px; 
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.main-container > h1 {
    background-color: #4CAF50;
    color: #fff; 
    padding: 15px;
    font-family: 'mapleFonts';
}

.main-container > p {
    padding: 20px;
    color: #333;
    font-family: 'pakaFonts';
    font-size: 20px; 
}

/* --------------------------------skills 관련 css------------------ */

.main-container-skills{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    
}

.main-container-skills-row {
    display: flex;
    border: 1px solid black;
    max-width: 600px; 
    border-radius: 15px;
    overflow: hidden;
    width: 20%;
    justify-content: center;
    flex-direction: column;
    
}

.main-container-skills-row > h1{
    background-color: #243536;
    color: #fff; 
    padding: 15px;
    font-family: 'mapleFonts';
    width: 100%;
    text-align: center;
}

.main-container-skills-row > p{
    padding: 20px;
    color: #333;
    font-family: 'pakaFonts';
    font-size: 20px; 
    text-align: center;
}
/* 여기까지가 메인 */










