*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* border: 1px solid black; */
}

@font-face {
    font-family: 'mapleFonts';
    src: url('fonts/MaplestoryFont_TTF/Maplestory\ Light.ttf');
}

@font-face {
    font-family: 'pakaFonts';
    src: url('fonts/SDChildfundkorea_OTF_TTF/SDChildfundkorea.otf');
}

body{
    /* font-family: 'MapleStoryFont', sans-serif; */
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

ul{
    list-style: none;
}

header{
    display: flex;
    flex-direction: column;
}

.header-container{
    height: 210px;
    display: flex;
    align-items: center;
}

.header-container > div{
    display: flex;
    flex-direction: column;
}

.header-container-left{
    width: 20%;
    height: 100%;
}

.header-container-left img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.header-container-right{
    height: 100%;
}

.header-container-col{
    height: 100%;
    margin: 10px;
}

.header-container-right img{
    display: flex;
    width: 50px;
    object-fit:cover;
}

.header-address{
    height: 100%;
    justify-content: space-between;
    text-align: center;
    padding-top: 10px;
}

.header-address:last-child{
    text-align: left;
}

.header-address *{
    font-family: 'mapleFonts';
}


/* ------------------ 여기까지 헤더------------------------------- */
nav{
    padding: 5 10px;
    background-color: white;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
    margin-top: 10px;
}

.navbar > li{
    width: 20%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar > li > a{
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    font-family: 'pakaFonts';

    padding: 3px 10px;
    width: 100%;
    text-align: center;
}

/* 마우스가 a태그에 올라갔을 때 */
.navbar > li > a:hover{
    color: red;
}
/* -------------------여기까지 네브바--------------------------- */
main {
    padding: 20px;
    height: 600px;

}

main > h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'mapleFonts';
    color: #333;
}

.main-container {
    border: 2px solid #4CAF50; 
    margin: auto;
    margin-top: 20px;
    width: 50%;
    max-width: 600px; 
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.main-container > h1 {
    background-color: #4CAF50;
    color: #fff; 
    padding: 15px;
    font-family: 'mapleFonts';
}

.main-container > p {
    padding: 50px;
    color: #333;
    font-family: 'pakaFonts';
    font-size: 20px; 
}

/* --------------------------------skills 관련 css------------------ */

.main-container-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin-top: 5%;
}

.main-container-skills-row {
    max-width: 600px; 
    border-radius: 15px;
    overflow: hidden;
    width: 20%;
    justify-content: center;
    flex-direction: column;
    min-width: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 5px solid #243536;;
}



/* .main-container {
    border: 2px solid #4CAF50; 
    margin: auto;
    margin-top: 20px;
    width: 50%;
    max-width: 600px; 
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
} */

.main-container-skills-row > h1{
    background-color: #243536;
    color: #fff; 
    padding: 15px;
    font-family: 'mapleFonts';
    width: 100%;
    text-align: center;
}

.main-container-skills-row > p{
    padding: 20px;
    color: #333;
    font-family: 'pakaFonts';
    font-size: 20px; 
    text-align: center;
}

.skills-container {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.skill-item {
    margin: 10px;
    max-width: 100px;
    overflow: hidden;
}

.skill-item > div {
    width: 120px;
    max-width: 100px; 
}

.skill-item > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#bend{
   background-color: #e8be80;
   
}

#lang{
    background-color: #8b62e3;
}

.back-container{
    border: 5px solid #e8be80;
}

.lang-container{
    border: 5px solid #8b62e3;
}

/* -----------------------------------게시판----------------------------- */
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'pakaFonts';
  }
  table *{
    font-size: 20px;
    
  }
  section.notice {
    padding: 80px 0;
  }
  
  .page-title {
    margin-bottom: 60px;
  }
  .page-title h3 {
    font-family: 'mapleFonts';
    font-size: 28px;
    color: #333333;
    font-weight: 400;
    text-align: center;
  }
  
  #board-search .search-window {
    padding: 15px 0;
    background-color: #f9f7f9;
  }
  #board-search .search-window .search-wrap {
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 564px;
  }
  
  #board-search .search-window .search-wrap input {
    height: 50px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #ccc;
  }

  #board-search .search-window .search-wrap .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 108px;
    padding: 0;
    font-size: 16px;
  }
  
  .board-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
  }

  .board-table a:hover {
    text-decoration: underline;
  }

  .board-table th {
    text-align: center;
  }
  
  .board-table .th-num {
    width: 100px;
    text-align: center;
  }
  
  .board-table .th-date {
    width: 200px;
  }
  
  .board-table th, .board-table td {
    padding: 20px 0;
  }
  
  .board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
  }
  
  .board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
  }
  
  .board-table tbody th p{
    display: none;
  }
  
  .btn {
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 400;
  }
  
  .btn-dark {
    background: #555;
    color: #fff;
  } 
.container-title{
    margin-top: 40px;
}
  /*--------------------------------여기서부터 로그인--------------  */

body.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.login-container{
    font-family: 'pakaFonts';
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.login-container > h2{
    font-size: 40px;
    color: #8fb2f2;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px
}

.login-container label {
    color: #555;
}

.login-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    padding: 10px;
    background-color: #8fb2f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.login-container button:hover {
    background-color: #8fb2f2;
}

/* 갤러리 */
.card-container{
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
}

.card-item{
    flex-shrink: 0;
    width: 25%;
    min-width: 200px;
    padding: 15px;
}

.card{
    display: block;  /* 크기 조정 가능 */
}

.card > p{
    font-family: 'pakaFonts';
}

.content-row{
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
    display: flex;
}

.card-thumbnail-container{
    height: 200px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
}

.card-thumbnail{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.4s;
}

.card-content{
    padding-top: 10px;
    white-space: pre-wrap;
}

.card:hover .card-thumbnail{
    transform: scale(1.1);
}

.gallery-content > p{
    font-family: 'mapleFonts';
}

.gallery-content > img{
    margin-top: 30px;
    width: 70%;
    height: 500px;
    margin-bottom: 30px;
}

.main-content{
    font-family: 'pakaFonts';
    margin-bottom: 20px;
}

.main-content > button {
    margin-bottom: 10px;
}

/* 여기까지가 메인 */










